<h1>{{ problem.name }}</h1>
<h3>{{ problem.difficulty }}</h3>

<hr>
<br />

{{ problem.statement }}

<hr>
<br />

<style>
    #editor {
        width: 50%;
        height: 400px;
        display: inline-block;
    }
</style>

<div id="editor">#Cook Your Code Here</div>

<div id="language" class="bg-dark text-white text-bold">
    Language: &nbsp;
    <label for="python"><input type="radio" name="language" id="python" value="python" checked="checked">Python</label> &nbsp;
    <label for="cpp"><input type="radio" name="language" id="c_cpp" value="c_cpp">cpp</label>
    <button class="float-right mr-3 btn btn-sm" id="copy" onclick="copyToClipboard(editor.getValue())">Copy</button>
    <a href="{% url 'submit-solution' problem.id %}" >Add submission</a>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.5/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
    var lang = "python";
    var editor;
    function setEditor() {
        editor = ace.edit("editor");
        editor.setTheme("ace/theme/monokai");
        editor.session.setMode("ace/mode/" + lang);
        document.getElementById('editor').style.fontSize='20px';
    }

    function copyToClipboard(text) {
        console.log('hello');
        let dummy = document.createElement("textarea");
        document.body.appendChild(dummy);
        dummy.value = text;
        dummy.select();
        document.execCommand("copy");
        document.body.removeChild(dummy);
    }

    setEditor();

    // $('#python').click(function () {
    //     lang = 'python';
    //     setEditor();
    // });

    // $('#c_cpp').click(function() {
    //     lang = 'c_cpp';
    //     setEditor();
    // });
</script>